.card {
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(248, 208, 180);
    box-shadow: 3px 3px 5px 2px #888888;
    padding: 10px;
    margin: 5px;
}

.title {
    color: rgb(74, 74, 74);
}

.paragraph {
    color: rgb(123, 123, 123);
}

.btn-content {
    display: flex;
    justify-content: flex-end;
}